<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %c{1}:%L - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- Dein Projekt: DEBUG -->
        <Logger name="org.matsim.routing.router" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.matsim.routing.updater" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Rest (MATSim etc.) bleibt INFO -->
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>